.card {
    height: 550px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    
   
}

.cajaHeader{
    border: 1px black solid;
    background-color: green !important;

}


.card-img-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 220px;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-ver{
    background-color: rgb(15, 58, 9);
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.logo{
    display: flex;
    justify-content: flex-end;
}



.contenedor{
    background-color: #f7f7f7;
}



.slices{
    border: 1px red solid;
    height: auto;
}


.carousel-inner{
    height: 300px;
}

.logo{
    border: 1px black solid;
    margin-right: 50px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: aquamarine;
    color: rgb(15, 14, 13);
    padding: 30px 0;
    width: 100%;
    margin-top: auto;
}

.footer-contendor {
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.col {
    text-align: center;
    flex: 1;
}

.btn.btn-success {
    background-color: rgb(6, 182, 6);
    color: white;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(22, 54, 2);
}
.huerto {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 0 0 15px 0;
}

.descripcion-huerto{
    font-size: 17px;
    line-height: 1.6;
    max-width: 400px;
    margin: auto;
}

.titulos{
    font-weight: bold; 
    font-size: 25px; 
    margin-bottom: 5px;
}