.historia{
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
    line-height: 1.8;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;      /* Centra la imagen adentro del contenedor */
    max-width: 500px;         /* Limita el ancho del contenedor */
    margin: 40px auto 20px;
}